.menuLink {
  color: #000;
  font-size: 30px;
  padding: .5rem;
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.3s ease-in-out;
}

.menuLink:hover {
  color: #40c0cb;
  transform: scale(1.05);
}
